
ion-header{
    ion-toolbar{
        font-family: "Satisfy", cursive !important;
        ion-label{
            display: flex;
            flex-direction: column;
            margin-left: 5px;
        }
        ion-text{
           margin-bottom: -2px;
        }
    }
}


ion-footer{
    ion-toolbar{
        --background: transparent;
        padding: 0 3px;
        ion-textarea{
            border: 1px solid var(--ion-color-medium);
            border-radius:20px;
            margin: 0.5vh 0;
        }
        ion-img{
            width: 120px;
            height: 120px;
        }
        ion-buttons{
            margin-left: 5px;
            ion-fab-button{
                --background: var(--ion-color-cool);
            }
        }
    }
}