<ion-content color="dark">
  

      <!-- <video autoplay muted width="100%"> 
        <source src="../../../assets/image/video.mp4" type="video/mp4"> 
      </video> -->

      <ion-card color="dark">
        <ion-card-content >
          <ion-img [class.slide-in-from-bottom]="imageAnimation" src="../../../assets/image/logo.png" data-aos="fade-up"></ion-img>
        </ion-card-content>
      </ion-card>
      <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
        <ion-button color="primary" shape="round" routerLink="/login">
            Bienvenue
            <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
        </ion-button>
      </ion-list>
</ion-content> 
